<div class="container">
  <div align="center">
    <img height="200" src="assets/logoRMS2017.jpg" alt="">
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1><strong>Olá, {{user}}</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="tile blue" style="background-color: rgb(16, 170, 204)">
        <h3 class="title"><a href="http://ssasfluigd01/RMS/Aplicacoes/flashvendas/">Flash de Vendas</a></h3>
        <p>Click here to acess</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile blue" style="background-color: rgb(67, 133, 245)">
        <h3 class="title"><a href="http://ssasfluigd01/RMS/Aplicacoes/inStore/#/">Consulta Produtos</a></h3>
        <p>Click here to acess</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile blue" style="background-color: rgb(62, 92, 198)">
        <h3 class="title"><a href="http://ssasfluigd01/RMS/Aplicacoes/Desossa/">Desossa</a></h3>
        <p>Click here to acess</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="tile blue" style="background-color: rgb(126, 55, 149)">
        <h3 class="title"><a href="#">Vouchers</a></h3>
        <p>Click here to acess</p>
      </div>
    </div>
    <!-- <div class="col-sm-4">
        <div class="tile blue">
          <h3 class="title">Blue Tile</h3>
          <p>Hello Blue, this is a colored tile.</p>
        </div>
      </div>     -->
  </div>
  <button class="btn btn-primary" (click)="logOut()">Log Out!</button>
</div>