<div class="container-fluid">
  <div class="row">
      <div class="card card-inverse" style="background-color: #333; border-color: #333;">
          <div class="card-block">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    <div class="card card-inverse text-center col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">

      <!-- Image -->
      <img class="card-img-top" src="http://t.wallpaperweb.org/wallpaper/computer/1920x1200/Secrets_1920x1200.jpg" alt="Photo of sunset">

      <!-- Text Overlay -->
      <div class="card-img-overlay">
        <h4 class="card-title">Desossa</h4>
        <p class="card-text">Is this the end?</p>
      </div>
    </div>
    <div class="card card-inverse text-center col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">

      <!-- Image -->
      <img class="card-img-top" src="http://t.wallpaperweb.org/wallpaper/computer/1920x1200/Secrets_1920x1200.jpg" alt="Photo of sunset">

      <!-- Text Overlay -->
      <div class="card-img-overlay">
        <h4 class="card-title">Flash de Vendas</h4>
        <p class="card-text">Is this the end?</p>
      </div>
    </div>
  </div>
</div>